<a href="https://colab.research.google.com/github/maro000/datascience_cookbook/blob/master/sql_to_df_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3

In [0]:
import pandas as pd

In [0]:
con = sqllite3.connect('')

In [0]:
def sql_to_df(sql_query):
    df = pd.read_sql(sql_query, con)
    return df